@model EmployeeRegistration.Domain.Contracts.ViewModels.EmployeeViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SecondName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SecondName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd>
            <a asp-action="PositionEmployees" asp-controller="Employee" asp-route-position="@Model.PositionId">@Html.DisplayFor(model => model.Position.Name)</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd>
            <a asp-action="Details" asp-controller="Company" asp-route-id="@Model.CompanyId">@Html.DisplayFor(model => model.Company.Name)</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-default">Back to List</a>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Edit</a>
</div>
